{% extends "shop/base.html" %} 
{% load static %} 

{% block title %} 
Search result
{% endblock title %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        {% for product in object_list %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="px-2">
              <div class="view overlay">
                <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt=""></a>
              </div>
              
              <div class="card-body text-center">
                <h3 class="card-title">
                  <a href="{{ product.get_absolute_url }}" class="text-capitalize font-weight-bold text-dark">{{product.name}}</a>
                </h3>
                <h4 class="font-weight-bold text-primary">#{{product.price}}</h4>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

</div>



{% endblock content%}
