{% load static %}

<footer class="py-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <p class="text-uppercase">Join us on</p>
                <p>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-twitter"></i> </a>
                    <a href=""> <i class="fab fa-instagram"></i></a>
                </p>
                <!-- <i class="fab fa-facebook-f"></i> -->
                <!-- <i class="fab fa-twitter-square"></i> -->
                <p class="text-uppercase">About us | contact us | partners</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <p></p>
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/giftbox_logo.jpg' %}" alt="">
                </a>
                <p class="m-0">Copyright &copy; Giftbox 2020 | Terms & Conditions | Privacy Policy</p>
                
            </div>
        </div>
    </div>
   
</footer>